#journey-logo{
    display:inline;
}
#share-on-facebook{
    margin:0px;
    padding:0px;
}
#login-btn{
    margin-left:3em;
    text-align: center;
    font-size:20px;
}
#register-btn{
    text-align:center;
    font-size:20px;
}
#map-a{
    font-size:16px;
}
#register-btn-register-view, #add-place-btn{
    text-align:center;
    font-size:20px;
    margin-left:5em;
}
 #add-journey-btn{
    text-align:center;
    font-size:20px;
    margin-left:4em;
}

#backbutton{
    font-size:16px;
}
